<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2_模块和控制器</title>
</head>
<body ng-app="myApp">

<div ng-controller="MyController">
    <label>
        <input type="text" ng-model="empName">
    </label>
    <p>员工名：{{empName}}</p>
</div>

<div ng-controller="MyController2">
    <label>
        <input type="text" ng-model="empName">
    </label>
    <p>员工：{{empName}}</p>
</div>

<script src="https://cdn.bootcss.com/angular.js/1.5.5/angular.js"></script>
<script type="text/javascript">
    // console.log(angular)

    /*
        // 创建模块队形
        var myModule = angular.module('myApp', [])
        // 生成作用域对象
        myModule.controller('MyController', function ($scope) {
            $scope.empName = 'kobe'
        })

        myModule.controller('MyController2', function ($scope) {
            $scope.empName = 'wade'
        })
    */

    // 优化 链式调用
    angular.module('myApp', [])
            .controller('MyController', function ($scope) {// 返回值是？模块对象
                $scope.empName = 'kobe'
            })
            .controller('MyController2', function ($scope) {
                $scope.empName = 'wade'
            })
</script>
</body>
</html>