.card {
  float: left;
  padding: .75rem;
  margin: 20px 21px 0 21px;
  border: 1px solid #efefef;
  border-radius: 10px;
  text-align: center;
}
.card-text {
  margin-top: 10px;
  font-size: 85%;
  text-align: right;
}
